aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.5.0
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.11.1
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.1.8
contourpy==1.3.0
cycler==0.12.1
et-xmlfile==1.1.0
exceptiongroup==1.2.2
EZGmail==2024.8.13
EZSheets==2024.8.9
fonttools==4.54.1
frozenlist==1.4.1
geopandas==1.0.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
h11==0.14.0
httplib2==0.22.0
idna==3.10
IMAPClient==2.3.1
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.1.0
narwhals==1.20.1
ntplib==0.4.0
numpy==2.1.3
oauthlib==3.2.2
opencv-python==4.10.0.84
openpyxl==3.0.10
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
Pillow==9.2.0
proto-plus==1.24.0
protobuf==5.28.2
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.18.0
PyInputPlus==0.2.12
PyJWT==2.9.0
PyMsgBox==1.0.9
pyogrio==0.10.0
pyparsing==3.1.4
PyPDF2==2.10.3
pyperclip==1.9.0
pyproj==3.7.0
PyRect==0.2.0
PyScreeze==1.0.1
PySimpleValidate==0.2.12
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==0.8.11
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.2
pyxel==2.2.10
pyzmail36==1.0.5
referencing==0.35.1
requests==2.28.0
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
selenium==4.4.3
Send2Trash==1.8.0
shapely==2.0.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stdiomask==0.0.6
streamlit==1.41.1
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
trio==0.26.2
trio-websocket==0.11.1
twilio==9.3.2
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.20
watchdog==6.0.0
wsproto==1.2.0
yarl==1.13.1
